<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página não encontrada</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/error.css') }}">
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>A página que você está tentando acessar não existe.</p>
        <a href="/" class="home-button">Voltar para a Página Inicial.</a>
    </div>
</body>
</html>
