<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register.css') }}">
</head>
<body>
    <div class="register-container">
        <form action="/register" method="POST" class="register-form">
            <h2>Registrar</h2>

            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>
            
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
            
            
            <button type="submit">Registrar</button>
            
            <span class="psw">Já possui uma conta? <a href="/login">Entrar</a></span>
        </form>
    </div>
</body>
</html>
