/* Importação de uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

.error-container {
    background-color: #1f1f1f;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.error-container h1 {
    font-size: 6rem;
    color: #e74c3c;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #dddddd;
}

.home-button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #2980b9;
}
