<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Página não encontrada</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/error.css') }}">
</head>
<body>
    <div class="error-container">
        <h1>403</h1>
        <p>Você não está autorizado a acessar esta página.</p>
        <a href="/" class="home-button">Voltar para a Página Inicial.</a>
    </div>
</body>
</html>
