<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <form action="/login" method="POST" class="login-form">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
            <span class="psw">Ainda não possui uma conta? <a href="/register">Registrar</a></span>
        </form>
    </div>
</body>
</html>
